<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node.js">
          <match url=".*" />
          <action type="Rewrite" url="src/app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      loggingEnabled="true"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>
